* {
  margin: 0%;
  padding: 0%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.wrapper {
  width: 50vw;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
  border: 1px solid goldenrod;
}
